body {
  background-color: #EFEFEF;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #556380;
  max-height: 66px;
}

.header-nav {
  max-height: 66px;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.logo-div {
  max-height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 32px;
}

#header-title {
  font-family: 'Economica', sans-serif;
  text-shadow: .5px .5px #61dafb;
  color: #282c34;
}

.header-logo {
  max-height: 52px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 10px;
}

main {
  height: 10000px;
  background-color: transparent;
  ;
}

